.collapse {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 46px;
}

.title-about-collapse {
    font-weight: 500;
    font-size: 28px;
}

@media (max-width:767px) {
    .collapse {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 128px;
    }

    .title-about-collapse {
        font-size: 13px;
    }

    .description-about-collapse {
        font-size: 12px;
    }
}